body {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  place-items: center;
  align-items: flex-start; /* 确保内容在顶部对齐 */
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
  box-sizing: border-box;
  /* 确保 padding 不影响宽度 */
}

/* 固定在顶部的 el-header 样式 */
.top-header {
  position: fixed;
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0);
  /* 透明背景 */
  z-index: 10;
}

/* 确保内容不被顶栏遮挡 */
.main-content {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 800px;
  margin-top: 40px;
  /* 根据 el-header 的高度调整此值 */
}