<!DOCTYPE html>
<html lang="zh">

<head>
  <title>Slor-你的家人相册</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
  <!-- 引入自定义css -->
  <link rel="stylesheet" type="text/css" href="./static/style.css" />
  <!-- 引入logo -->
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}"
  <!-- 引入第三方资源 -->
  <script type="text/javascript" src="./static/dist/vue.global.js"></script>
  <link rel="stylesheet" type="text/css" href="./static/dist/element-plus.css" />
  <script type="text/javascript" src="./static/dist/element-plus.js"></script>
  <script type="text/javascript" src="./static/dist/icons-vue.js"></script>
  <!-- 引入 Axios CDN -->
  <script src="./static/dist/axios.min.js"></script>
  <!-- 引入 login -->
  <script src="./static/js/login.js"></script>
  <!-- 引入图标 -->
  <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/c/font_4637130_djqosr3mwea.css" />
  <!-- 吐血啊！！！！！！！！！！cdn居然要按顺序引入？？？？？ -->
</head>

<body>
  <div id="app" class="content">
    <el-container>
      <el-header class="top-header" height="50px">
        <!-- 删除按钮 -->
        <el-button round type="danger" class="delete-button" @click="deleteSelectedImages"
          :disabled="!selectedImages.length" v-if="selectionMode">
          删除
        </el-button>
        <!-- 选择按钮 -->
        <el-button round class="select-button" @click="toggleSelectionMode">
          [[ selectionMode ? '取消选择' : '选择' ]]
        </el-button></el-header>
      <el-main class="main-content">

        <!-- 空容器 -->
        <div v-if="mediaList === null">
          <el-empty description="没有照片..."> </el-empty>
        </div>

        <!-- 时间轴主体 -->
        <!-- 时间轴主体 -->
        <el-timeline v-if="mediaList.length" style="max-width: 1200px; padding: 0">
          <!-- 每一天 -->
          <el-timeline-item v-for="(group, groupIndex) in mediaList" :key="group.date" :timestamp="group.date"
            type="primary" placement="top">
            <el-card class="gallery">
              <!-- 媒体内容 -->
              <div class="image-container" v-for="(media, mediaIndex) in group.media" :key="media.src">
                <!-- 复选框 -->
                <input type="checkbox" v-if="selectionMode" v-model="selectedImages" :value="media" class="checkbox" />
                <!-- 覆盖图层 -->
                <div class="checkoverlay" v-if="selectionMode" @click="toggleSelection(media)"></div>
                <!-- 图片展示 -->
                <template v-if="media.type === 'image'">
                  <img class="media-thumbnail" :src="media.thumbnail" @click="openMedia(media)" :alt="media.alt" />
                </template>
                <template v-else="media.type === 'video'">
                  <img :src="media.thumbnail" :alt="media.alt" class="media-thumbnail" @click="openMedia(media)" />
                  <div class="play-button-overlay " @click="openMedia(media)">
                    <i class="iconfont icon-bofang1" style="font-size: larger;"></i>
                  </div>
                </template>
              </div>
            </el-card>
          </el-timeline-item>
        </el-timeline>
        <!-- 悬浮铆钉 -->
        <button class="floating-btn" @click="selectFiles" circle>
          <el-icon>
            <Plus />
          </el-icon>
        </button>
        <!-- 隐藏的文件选择控件 -->
        <input type="file" ref="fileInput" accept="image/*,video/*" style="display: none" multiple
          @change="handleFileChange" />
        <!-- 居中悬浮的环形进度条 -->
        <div v-if="uploading" class="overlay">
          <el-progress :percentage="progress" type="circle" :stroke-width="8" :width="100"
            :status="uploadStatus"></el-progress>
        </div>
        <!-- 验证弹窗 -->
        <div id="loginBox">
          <input type="text" id="password" placeholder="请输入暗号">
          <button onclick="submitLogin()">确定</button>
          <button onclick="closeLoginBox()">取消</button>
        </div>
        <!-- 预览弹窗 -->
        <div v-if="isMediaPlaying" class="media-modal" @click.self="stopMedia" @touchstart="handleTouchStart"
          @touchend="handleTouchEnd">
          <video v-if="currentMediaType === 'video'" ref="mediaPlayer" :src="currentMedia.src" :alt="currentMedia.alt"
            controls autoplay loop webkit-playsinline="true" playsinline="true" x5-video-player-type="h5-page"></video>
          <img v-else :src="currentMedia.src" :alt="currentMedia.alt" @click="stopMedia" />
          <!-- 左右切换按钮 -->
          <button class="gallery-arrow gallery-arrow-left" @click="prevMedia">
            <span class="arrow-icon">‹</span>
          </button>
          <button class="gallery-arrow gallery-arrow-right" @click="nextMedia">
            <span class="arrow-icon">›</span>
          </button>
          <!-- 关闭按钮 -->
          <button class="close-button" @click="stopMedia">✕</button>
        </div>

  </div>
  </el-main>
  </el-container>

  <script type="text/javascript" src="./static/script.js"></script>
</body>

</html>